@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
    margin:0px;
    width:100%;
   
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
#topbar{
    width: 100%;
    margin:0px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 20px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 12px;
   
}
.img-stunning{
    width:90px;
    height:40px;
  
    

}
.menu-items a{
    margin-right: 20px;
    color:#ccc;
}
#active{
    border-bottom:3px solid rgba(51, 51, 212, 0.753);
    border-radius: 2px;
    color: black;
    
    
}
.btn-profile{
    color:#0000cc;
    padding:20px 30px;
    border: none;
    background-color:#ffe6f3;
    border-radius:25px;
    font-size: 12px;
    font-weight: 600;
    box-sizing: border-box;
    margin-right: 20px;
}
.landing-section{
    width:100%;
    height: 100%;
    display:flex;
    
    flex-direction: row;
    
    padding:20px 60px;
    
    margin: 0px;
    box-sizing: border-box;
}
.body-text{
    background-color:#fff;
    width: 40%;
    padding:10px 0px;
    margin: 0px;
    box-sizing: border-box;
}
#landing-img{
width: calc(100% - 40%);
box-sizing: border-box;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 50px;

}
.big-img{
    width:100%;
    height: 100%;
  
}

.dot{
    border:none;
    background-color: #5a2ce2;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;   
 
}
.arrow-wrapper{
    display:flex;
    align-items: center;
    padding-top:10px;
}
.btn-account{
    font-size: 12px;
    display: inline-block;
    border: none;
    color: #fff;
    background-color:#5a2ce2;
    padding: 20px 30px;
    border-radius: 20px;
    box-sizing: border-box;
    
}

.body-text h1{
    font-size:65px;
    
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    box-sizing: border-box;
}
.body-text p{
    font-size:16px;
    width: 100%;
    margin-top:0px;
    box-sizing: border-box;    
    font-weight: 400;
    
}





.bottom-row{
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    background-color:rgb(248, 248, 248);
    padding:7px 15px;
    margin:10px 0px;
    border-radius: 10px;   
    
}
.bottom-row img{
    width:30px;
    height: 30px;
    margin:0px 5px;
}
.row-text{
   padding:0px 10px;
    margin: 0px;
    color: #0d0d0d;
    font-size: 15px;
    font-weight: 900;
   
    
   
}
.date{
    margin:0px;
    margin-left:15px;
    padding-right: 0px;
    color:#ccc;
}
.line{

   
    border:none;
    
    border-radius: 5px;
    width: 40px;
    height: 10px;
    padding-left:10px;
    margin-right:20px;
    margin-left: 0px;
    box-sizing: border-box;
   
  

}
.first{
    background-color: lightpink;
}
.second{
    background-color: rgba(255, 0, 0, 0.788);
}
.third{
    background-color: lightgreen;
}
.fourth{
    background-color: rgba(245, 167, 0, 0.623);
}

.active-row{
    box-shadow: 20px 0px 30px rgb(177, 175, 175);
    background-color: #fff;
}

.second-div{
  margin-top: 70px;
 width:90%;
  padding-bottom: 20px;
}
